---

---

<section class="destination">
    <h3 class="destination__heading"><span class="destination-span">01</span>Pick your destination</h3>

    <!-- TODO: images .png .webp in .destination__image -->
    <div class="destination__destination">
      <!-- <img class="destination__image" src={destination.images.png} alt={destination.name}> -->
    </div>
  </section>