---
const destinationLinks = ['moon', 'mars', 'europa', 'titan'];
---

<div class="destination-nav-containter">
    <nav class="destination__nav">
        <ul class="destination__links">
            {destinationLinks.map((link) => {
                <li class="destination__link-item">
                    <a href="/">{link}</a>
                </li>
            })}
        </ul>
    </nav>
</div>