---
const destinationLinks = ['moon', 'mars', 'europa', 'titan'];
const { destinationLink } = Astro.props;
---

<style>
  .destination__links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    list-style: none;
  }

  /* TODO: check styles and border bottom*/
  .destination__link {
    color: var(--white);
    padding: 1rem;
  }

  .destination__link--active {
    border-bottom: solid 0.3rem var(--white);
  }
</style>

<div class="destination-nav-containter">
  <nav class="destination__nav">
    <ul class="destination__links">
      {
        destinationLinks.map((link) => (
          <li class="destination-link-item">
            <a
              href={`/destination/${link === 'moon' ? '' : link}`}
              class={`destination__link nav-text ${destinationLink === link ? 'destination__link--active' : ''}`}
            >
              {link}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
