---
import closeBtn from "../assets/shared/icon-close.svg";
const linkPages = ["home", "destination", "crew", "technology"];
---

<style>
  .navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .navbar__btn {
    background-color: unset;
    border: none;
  }

  .navbar__close {
    object-fit: cover;
  }

  .navbar__links {
    position: fixed;
    top: 0;
    right: 0;
    width: 0rem;
    visibility: hidden;
    /* overflow: hidden; */
    min-height: 100vh;
    padding: 2.4rem;
    transition:  .3s;
    list-style: none;
    background-color: rgba(68, 71, 73, 0.527);
}

.navbar__links--active {
    visibility: visible;
    z-index: 1;
    width: 75%;
  }

  .navbar__link-item {
    display: flex;
    /* TODO: Check */
    gap: 2rem;
  }

  .navbar__index {
    font-weight: bolder;
  }

  .navbar__link {
    text-transform: uppercase;
    color: var(--white);
  }
</style>

<script>
  const closeBtn = document.querySelector(".navbar__btn");
  const navbarLinks = document.querySelector(".navbar__links");
  closeBtn.addEventListener("click", function (e) {
    navbarLinks.classList.remove("navbar__links--active");
  });
</script>

<nav class="navbar">
  <ul class="navbar__links">
    <button class="navbar__btn">
      <img
        src={closeBtn.src}
        alt="Close Menu"
        aria-label="Close menu"
        class="navbar__close"
      />
    </button>

    {
      linkPages.map((link, index) => (
        <li class="navbar__link-item">
          <a href="/" class="navbar__link">
            <span class="navbar__index">0{index}</span>
            {link}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
