---
import { Image } from 'astro:assets';
import closeBtn from '../assets/shared/icon-close.svg';

const linkPages = ['home', 'destination', 'crew', 'technology'];
const { activePage = '' } = Astro.props;
---

<style>
  .navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  @media (min-width: 768px) {
    .navbar {
      width: auto;
    }
  }

  .navbar__btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 2.4rem 1.4rem;
  }

  @media (min-width: 768px) {
    .navbar__btn-container {
      display: none;
    }
  }

  .navbar__btn {
    padding: 1rem;
    background-color: unset;
    border: none;
  }

  .navbar__close {
    width: 2.4rem;
    height: 2.1rem;
    object-fit: cover;
    fill: var(--light-blue);
    stroke: var(--light-blue);
  }

  .navbar__links {
    position: fixed;
    padding: 0;
    top: 0;
    right: 0;
    width: 0rem;
    visibility: hidden;
    /* overflow: hidden; */
    min-height: 100vh;
    transition: 0.3s;
    list-style: none;
    backdrop-filter: blur(7.5rem);
  }

  @media (min-width: 768px) {
    .navbar__links {
      background: rgb(255 255 255 / 5%);
      backdrop-filter: blur(1rem);
    }
  }

  .navbar__links--active {
    visibility: visible;
    z-index: 1;
    width: 75%;
    overflow-x: hidden;
  }

  @media (min-width: 768px) {
    .navbar__links {
      position: static;
      width: auto;
      min-height: unset;
      visibility: visible;
      z-index: unset;
      overflow-x: auto;
    }
  }

  .navbar__links-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0 0 3rem;
  }

  @media (min-width: 768px) {
    .navbar__links-container {
      flex-direction: row;
      padding: 3rem;
    }
  }

  .navbar__link {
    display: flex;
    gap: 1rem;
    line-height: 1;
    padding: 1.5rem;
    font-size: 1.6rem;
    font-family: var(--barlow-font);
    text-transform: uppercase;
    color: var(--white);
  }

  @media (min-width: 768px) {
    .navbar__link {
      position: relative;
      display: inline-block;
      padding: 1.5rem;
      font-size: 1.4rem;
    }
  }

  .navbar__link--active {
    border-right: solid 0.4rem var(--white);
  }

  @media (min-width: 768px) {
    .navbar__link--active {
      border-right: none;
    }

    .navbar__link--active::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: -3rem;
      width: 100%;
      height: 0.3rem;
      background-color: var(--white);
    }
  }

  .navbar__index {
    font-family: var(--barlow-font);
    font-size: 1.6rem;
    letter-spacing: var(--nav-text);
    font-weight: bolder;
  }

  @media (min-width: 768px) {
    .navbar__index {
      display: none;
    }
  }
</style>

<script>
  const closeBtn = document.querySelector('.navbar__btn');
  const navbarLinks = document.querySelector('.navbar__links');
  closeBtn.addEventListener('click', function (e) {
    navbarLinks.classList.remove('navbar__links--active');
  });
</script>

<nav class="navbar">
  <ul class="navbar__links">
    <div class="navbar__btn-container">
      <button class="navbar__btn">
        <Image
          src={closeBtn}
          alt="Close Menu"
          aria-label="Close menu"
          class="navbar__close"
        />
        <!-- <img
          src={closeBtn.src}
          alt="Close Menu"
          aria-label="Close menu"
          class="navbar__close"
        /> -->
      </button>
    </div>

    <div class="navbar__links-container">
      {
        linkPages.map((link, index) => (
          <li class="navbar__link-item">
            <a
              href={`/${link === 'home' ? '' : link}`}
              class={`navbar__link ${link === activePage ? 'navbar__link--active' : ''}`}
            >
              <span class="navbar__index">0{index}</span>
              {link}
            </a>
          </li>
        ))
      }
    </div>
  </ul>
</nav>
