---
const pages = ['launch', 'capsule', 'spaceport'];
const { techLink } = Astro.props;
---

<style>
  .tech__links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
  }

  @media (min-width: 768px) {
    .tech__links {
      padding: 3rem 0;
    }
  }

  .tech__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    border: solid 0.2rem rgb(255 255 255 / 20%);
    line-height: 1;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    color: var(--white);
  }

  @media (min-width: 768px) {
    .tech__link {
      font-size: 2.4rem;
      width: 6rem;
      height: 6rem;
    }
  }

  .tech__link--active {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--dark-blue);
  }
</style>

<div class="tech__navbar">
  <nav class="tech__nav">
    <ul class="tech__links">
      {
        pages.map((link, index) => (
          <li class="tech__link-item">
            <a
              href={`/technology/${link === 'launch' ? '' : link}`}
              class={`tech__link  ${link === techLink ? 'tech__link--active' : ''}`}
              aria-label={`Redirect to ${link}`}
            >
              {index}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
